{% extends "base.html" %}
{% block title %}
    <title>{{ domain.name | pretty_domain_name }} - {{ SITE_NAME }}</title>
{% endblock title %}
{% block dashboard_stat %}
    <section class="content-header">
        <h1>
            Manage domain: <b>{{ domain.name | pretty_domain_name }}</b>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dashboard') }}"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>Domain</li>
            <li class="active">{{ domain.name | pretty_domain_name }}</li>
        </ol>
    </section>
{% endblock dashboard_stat %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body">
                        {% if domain.type != 'Slave' %}
                            <button type="button"
                                    class="btn btn-primary pull-left button_add_record"
                                    id="{{ domain.name }}">
                                Add Record&nbsp;<i class="fa fa-plus"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary pull-right button_apply_changes"
                                    id="{{ domain.name }}"
                                    value="{{ domain.serial }}">
                                Apply Changes&nbsp;<i class="fa fa-floppy-o"></i>
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn btn-primary pull-left button_update_from_master"
                                    id="{{ domain.name }}">
                                Update from Master&nbsp;<i class="fa fa-download"></i>
                            </button>
                        {% endif %}
                        {% if current_user.role.name in ['Administrator', 'Operator'] %}
                            <button type="button"
                                    class="btn btn-primary pull-left btn-danger ms-2"
                                    onclick="window.location.href='{{ url_for('domain.setting', domain_name=domain.name) }}'">
                                Admin&nbsp;<i class="fa fa-cog"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary pull-left ms-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#DomainInfoModal">
                                InFo&nbsp;<i class="fa fa-users"></i>
                            </button>
                        {% endif %}
                        {% if current_user.role.name in ['Administrator', 'Operator'] or SETTING.get('allow_user_view_history') %}
                            <button type="button"
                                    class="btn btn-primary button_changelog ms-2"
                                    id="{{ domain.name }}">
                                Changelog&nbsp;<i class="fa fa-history" aria-hidden="true"></i>
                            </i>
                        </button>
                    {% endif %}
                </div>
                <div class="box-body">
                    <table id="tbl_records" class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th width="10%">Type</th>
                                <th width="8%">Status</th>
                                <th width="6%">TTL</th>
                                <th width="30%">Data</th>
                                <th width="30%">Comment</th>
                                <th colspan="2">Actions</th>
                                {% if current_user.role.name in ['Administrator', 'Operator'] or SETTING.get('allow_user_view_history') %}
                                    <th >Changelog</th>
                                {% endif %}
                                <th>Invisible Sorting Column</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                                <tr class="odd row_record" id="{{ domain.name }}">
                                    <td>{{ (record.name,domain.name) | display_record_name | pretty_domain_name }}</td>
                                    <td title="{% if record.type == 'URL' %}URL Redirect{% else %}{{ record.type }}{% endif %}">{{ record.type }}</td>
                                    <td>{{ record.status }}</td>
                                    <td>{{ record.ttl }}</td>
                                    <td>{{ record.data | pretty_domain_name }}</td>
                                    <td>{{ record.comment }}</td>
                                    {% if domain.type != 'Slave' %}
                                        <td width="5%">
                                            {% if record.is_allowed_edit() %}
                                                <button type="button"
                                                        class="btn btn-outline-warning button_edit"
                                                        title="Edit">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-outline-warning">
                                                    <i class="fa fa-exclamation-circle"></i>
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td width="5%">
                                            {% if record.is_allowed_delete() %}
                                                <button type="button"
                                                        class="btn btn-outline-danger button_delete"
                                                        title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td width="5%">
                                            <button type="button" class="btn btn-outline-warning">
                                                <i class="fa fa-exclamation-circle"></i>
                                            </button>
                                        </td>
                                        <td width="5%">
                                            <button type="button" class="btn btn-outline-warning">
                                                <i class="fa fa-exclamation-circle"></i>
                                            </button>
                                        </td>
                                    {% endif %}
                                    {% if current_user.role.name in ['Administrator', 'Operator'] or SETTING.get('allow_user_view_history') %}
                                        <td width="5%">
                                            <button type="button"
                                                    onclick="show_record_changelog('{{ record.name }}','{{ record.type }}',event)"
                                                    class="btn btn-outline-primary text-nowrap small"
                                                    title="Changelog">
                                                <i class="fa fa-history" aria-hidden="true"></i> History
                                            </button>
                                        </td>
                                    {% endif %}
                                    <!-- hidden column that we can sort on -->
                                    <td>1</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{% endblock content %}
{% block extrascripts %}
    <script>
    // superglobals
    window.records_allow_edit = {{ editable_records | tojson }};
    window.ttl_options = {{ ttl_options | tojson }};
    window.nEditing = null;
    window.nNew = false;

    // set up user data table
    $("#tbl_records").DataTable({
        "paging" : true,
        "lengthChange" : true,
        "searching" : true,
        "ordering" : true,
        "info" : true,
        "autoWidth" : false,
        {% if SETTING.get('default_record_table_size') | string in ['5','15','20'] %}
        "lengthMenu": [ [5, 15, 20, -1],
                        [5, 15, 20, "All"]],
        {% else %}
        "lengthMenu": [ [5, 15, 20, {{ SETTING.get('default_record_table_size') }}, -1],
                        [5, 15, 20, {{ SETTING.get('default_record_table_size') }}, "All"]],
        {% endif %}
        "pageLength": {{ SETTING.get('default_record_table_size') }},
        "language": {
            "lengthMenu": " _MENU_ records"
        },
        "retrieve" : true,
        "columnDefs": [
            {
                type: 'natural',
                targets: [0, 4]
            },
            {
                targets: [0, 1, 2, 3, 4, 5],
                render: $.fn.dataTable.render.text()
            },
            {
                // hidden column so that we can add new records on top
                // regardless of whatever sorting is done. See orderFixed
                visible: false,
                {% if current_user.role.name in ['Administrator', 'Operator'] or SETTING.get('allow_user_view_history') %}
                targets: [ 9 ]
                {% else %}
                targets: [ 8 ]
                {% endif %}
            },
            {
                className: "length-break",
                targets: [ 4, 5 ]
            }
            {% if current_user.role.name in ['Administrator', 'Operator'] %}
            , {
                targets: [-1, -2, -3, -4],
                orderable: false
            }
            {% endif %}
        ],
        {% if current_user.role.name in ['Administrator', 'Operator'] or SETTING.get('allow_user_view_history') %}
        "orderFixed": [[9, 'asc']]
        {% else %}
        "orderFixed": [[8, 'asc']]
        {% endif %}
    });


    function show_record_changelog(record_name, record_type, e) {
        e.stopPropagation();
        window.location.href = "/domain/{{domain.name}}/changelog/" + record_name + ".-" + record_type;
    }
    // handle changelog button
    $(document.body).on("click", ".button_changelog", function(e) {
        e.stopPropagation();
        window.location.href = "/domain/{{domain.name}}/changelog";
    });

    // handle delete button
    $(document.body).on("click", ".button_delete", function(e) {
        e.stopPropagation();
        var modal = $("#modal_delete");
        var table = $("#tbl_records").DataTable();
        var record = $(this).prop('id');
        var nRow = $(this).parents('tr')[0];
        var info = "Are you sure you want to delete " + record + "?";
        modal.find('.modal-body p').text(info);
        modal.modal('show');

        $("#button_delete_confirm").unbind().one('click', function(e) {
            table.row(nRow).remove().draw();
            modal.modal('hide');
        });

        $("#button_delete_cancel").unbind().one('click', function(e) {
            modal.modal('hide');
        });
    });
    // handle edit button and record click
    $(document.body).on("click", ".button_edit{% if quick_edit %}, .row_record{% endif %}", function(e) {
         e.stopPropagation();
         if ($(this).is('tr')) {
            var nRow = $(this)[0];
         } else {
            var nRow = $(this).parents('tr')[0];
         }
         var table = $("#tbl_records").DataTable();

        if (nEditing == nRow) {
            /* click on row already being edited, do nothing */
        } else if (nEditing !== null && nEditing != nRow && nNew == false) {
             /* Currently editing - but not this row - restore the old before continuing to edit mode */
             restoreRow(table, nEditing);
             editRow(table, nRow);
             nEditing = nRow;
         } else if (nNew == true) {
             /* adding a new row, delete it and start editing */
             table.row(nEditing).remove().draw();
             nNew = false;
             editRow(table, nRow);
             nEditing = nRow;
         } else {
             /* No edit in progress - let's start one */
             editRow(table, nRow);
             nEditing = nRow;
         }
    });

    // handle apply changes button
    $(document.body).on("click",".button_apply_changes", function() {
        if (nNew || nEditing) {
            showErrorModal("Previous record not saved. Please save it before applying the changes.");
            return;
        }

        var modal = $("#modal_apply_changes");
        var table = $("#tbl_records").DataTable();
        var domain = $(this).prop('id');
        var serial = $(".button_apply_changes").val();
        var info = "Are you sure you want to apply your changes?";
        modal.find('.modal-body p').text(info);

        // following unbind("click") is to avoid multiple times execution
        modal.find('#button_apply_confirm').unbind("click").click(function() {
            var data = {'serial': serial, 'record': getTableData(table), '_csrf_token': '{{ csrf_token() }}'};
            applyRecordChanges(data, domain);
            modal.modal('hide');
        })
        modal.modal('show');

    });

    // handle add record button
    $(document.body).on("click", ".button_add_record", function (e) {
            if (nNew || nEditing) {
                showErrorModal("Previous record not saved. Please save it before adding more record.");
                return;
            }
            // clear search first
            $("#tbl_records").DataTable().search('').columns().search('').draw();

            // add new row
            var default_type = records_allow_edit[0]
            {% if current_user.role.name in ['Administrator', 'Operator'] or SETTING.get('allow_user_view_history') %}
	        var nRow = jQuery('#tbl_records').dataTable().fnAddData(['', default_type, 'Active', window.ttl_options[0][0], '', '', '', '', '', '0']);
            {% else %}
            var nRow = jQuery('#tbl_records').dataTable().fnAddData(['', default_type, 'Active', window.ttl_options[0][0], '', '', '', '', '0']);
            {% endif %}
            editRow($("#tbl_records").DataTable(), nRow);
            document.getElementById("edit-row-focus").focus();
            nEditing = nRow;
            nNew = true;
        });

    //handle cancel button
    $(document.body).on("click", ".button_cancel", function (e) {
            e.stopPropagation();
            var oTable = $("#tbl_records").DataTable();
            if (nNew) {
                oTable.row(nEditing).remove().draw();
                nEditing = null;
                nNew = false;
            } else {
                restoreRow(oTable, nEditing);
                nEditing = null;
            }
        });

    //handle save button
    $(document.body).on("click", ".button_save", function (e) {
            e.stopPropagation();
            var table = $("#tbl_records").DataTable();
            saveRow(table, nEditing);
            nEditing = null;
            nNew = false;
        });

    //handle update_from_master button
    $(document.body).on("click", ".button_update_from_master", function (e) {
            var domain = $(this).prop('id');
            applyChanges({'domain': domain, '_csrf_token': '{{ csrf_token() }}'}, $SCRIPT_ROOT + '/domain/' + domain + '/update', true);
    });

    {% if SETTING.get('record_helper') %}
    //handle wacky record types
    $(document.body).on("focus", "#current_edit_record_data", function (e) {
        var record_type = $(this).parents("tr").find('#record_type').val();
        var record_data = $(this);
        if (record_type == "CAA") {
            var modal = $("#modal_custom_record");
            if (record_data.val() == "") {
                var form = `
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="caa_flag">CAA Flag</label>
                    <input type="text" class="form-control" placeholder="0" name="caa_flag" id="caa_flag" aria-label="CAA Flag">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="caa_tag">CAA Tag</label>
                    <input type="text" class="form-control" placeholder="0" name="caa_tag" id="caa_tag" aria-label="CAA Tag">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="caa_value">CAA Value</label>
                    <input type="text" class="form-control" placeholder="eg. letsencrypt.org" name="caa_value" id="caa_value" aria-label="CAA Value">
                </div>`;
            } else {
                var parts = record_data.val().split(" ");
                var form = `
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="caa_flag">CAA Flag</label>
                    <input type="text" class="form-control" placeholder="0" name="caa_flag" id="caa_flag" aria-label="CAA Flag" value="` + parts[0] + `">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="caa_tag">CAA Tag</label>
                    <input type="text" class="form-control" placeholder="0" name="caa_tag" id="caa_tag" aria-label="CAA Tag" value="` + parts[1] + `">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="caa_value">CAA Value</label>
                    <input type="text" class="form-control" placeholder=""eg. letsencrypt.org" name="caa_value" id="caa_value" aria-label="CAA Value" value="` + parts[2] + `">
                </div>`;
            }
            modal.find('.modal-body p').html(form);
            modal.find('#button_save').click(function() {
                caa_flag = modal.find('#caa_flag').val();
                caa_tag = modal.find('#caa_tag').val();
                caa_value = modal.find('#caa_value').val();
                data = caa_flag + " " + caa_tag + " " + '"' + caa_value + '"';
                record_data.val(data);
                modal.modal('hide');
            })
            modal.modal('show');
        } else if (record_type == "MX") {
            var modal = $("#modal_custom_record");
            if (record_data.val() == "") {
                
                var form = `
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="mx_priority">MX Priority</label>
                    <input type="text" class="form-control" placeholder="eg. 10" name="mx_priority" id="mx_priority" aria-label="MX Priority">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="mx_server">MX Server</label>
                    <input type="text" class="form-control" placeholder="eg. postfix.example.com" name="mx_server" id="mx_server" aria-label="MX Server">
                </div>`;
            } else {
                var parts = record_data.val().split(" ");
                var form = `
                <div class="input-group mb-3 col-2">
                    <label class="input-group-text" for="mx_priority">MX Priority</label>
                    <input type="text" class="form-control" placeholder="eg. 10" name="mx_priority" id="mx_priority" aria-label="MX Priority" value="` + parts[0] + `">
                </div>
                <div class="input-group mb-3 col-2">
                    <label class="input-group-text" for="mx_server">MX Server</label>
                    <input type="text" class="form-control" placeholder="eg. postfix.example.com" name="mx_server" id="mx_server" aria-label="MX Server" value="` + parts[1] + `">
                </div>`;
            }
            modal.find('.modal-body p').html(form);
            modal.find('#button_save').click(function() {
                mx_server = modal.find('#mx_server').val();
                mx_priority = modal.find('#mx_priority').val();
                data = mx_priority + " " + mx_server;
                if (data && !data.endsWith('.')) {
                    data = data + '.'
                }
                record_data.val(data);
                modal.modal('hide');
            })
            modal.modal('show');
        } else if (record_type == "SRV") {
            var modal = $("#modal_custom_record");
            if (record_data.val() == "") {
                var form = `
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_priority">SRV Priority</label>
                    <input type="text" class="form-control" placeholder="0" name="srv_priority" id="srv_priority" aria-label="SRV Priority">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_weight">SRV Weight</label>
                    <input type="text" class="form-control" placeholder="10" name="srv_weight" id="srv_weight" aria-label="SRV Weight">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_port">SRV Port</label>
                    <input type="text" class="form-control" placeholder="5060" name="srv_port" id="srv_port" aria-label="SRV Port">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_target">SRV Target</label>
                    <input type="text" class="form-control" placeholder="sip.example.com" name="srv_target" id="srv_target" aria-label="SRV Target">
                </div>`;
            } else {
                var parts = record_data.val().split(" ");
                var form = `
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_priority">SRV Priority</label>
                    <input type="text" class="form-control" placeholder="0" name="srv_priority" id="srv_priority" aria-label="SRV Priority" value="` + parts[0] + `">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_weight">SRV Weight</label>
                    <input type="text" class="form-control" placeholder="10" name="srv_weight" id="srv_weight" aria-label="SRV Weight" value="` + parts[1] + `">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_port">SRV Port</label>
                    <input type="text" class="form-control" placeholder="5060" name="srv_port" id="srv_port" aria-label="SRV Port" value="` + parts[2] + `">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-2" for="srv_target">SRV Target</label>
                    <input type="text" class="form-control" placeholder="sip.example.com" name="srv_target" id="srv_target" aria-label="SRV Target" value="` + parts[3] + `">
                </div>
                `;
            }
            modal.find('.modal-body p').html(form);
            modal.find('#button_save').click(function() {
                srv_priority = modal.find('#srv_priority').val();
                srv_weight = modal.find('#srv_weight').val();
                srv_port = modal.find('#srv_port').val();
                srv_target = modal.find('#srv_target').val();
                data = srv_priority + " " + srv_weight + " " + srv_port + " " + srv_target;
                if (data && !data.endsWith('.')) {
                    data = data + '.'
                }
                record_data.val(data);
                modal.modal('hide');
            })
            modal.modal('show');
        } else if (record_type == "SOA") {
            var modal = $("#modal_custom_record");
            if (record_data.val() == "") {
                var form = "    <label for=\"soa_primaryns\">Primary Name Server</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_primaryns\" id=\"soa_primaryns\" placeholder=\"ns1.example.com\"> \
                                <label for=\"soa_adminemail\">Primary Contact</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_adminemail\" id=\"soa_adminemail\" placeholder=\"admin.example.com\"> \
                                <label for=\"soa_serial\">Serial</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_serial\" id=\"soa_serial\" placeholder=\"2016010101\"> \
                                <label for=\"soa_zonerefresh\">Zone refresh timer</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_zonerefresh\" id=\"soa_zonerefresh\" placeholder=\"86400\"> \
                                <label for=\"soa_failedzonerefresh\">Failed refresh retry timer</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_failedzonerefresh\" id=\"soa_failedzonerefresh\" placeholder=\"7200\"> \
                                <label for=\"soa_zoneexpiry\">Zone expiry timer</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_zoneexpiry\" id=\"soa_zoneexpiry\" placeholder=\"1209600\"> \
                                <label for=\"soa_minimumttl\">Minimum TTL</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_minimumttl\" id=\"soa_minimumttl\" placeholder=\"300\"> \
                            ";
            } else {
                var parts = record_data.val().split(" ");
                var form = "    <label for=\"soa_primaryns\">Primary Name Server</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_primaryns\" id=\"soa_primaryns\" value=\"" + parts[0] + "\"> \
                                <label for=\"soa_adminemail\">Primary Contact</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_adminemail\" id=\"soa_adminemail\" value=\"" + parts[1] + "\"> \
                                <label for=\"soa_serial\">Serial</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_serial\" id=\"soa_serial\" value=\"" + parts[2] + "\"> \
                                <label for=\"soa_zonerefresh\">Zone refresh timer</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_zonerefresh\" id=\"soa_zonerefresh\" value=\"" + parts[3] + "\"> \
                                <label for=\"soa_failedzonerefresh\">Failed refresh retry timer</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_failedzonerefresh\" id=\"soa_failedzonerefresh\" value=\"" + parts[4] + "\"> \
                                <label for=\"soa_zoneexpiry\">Zone expiry timer</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_zoneexpiry\" id=\"soa_zoneexpiry\" value=\"" + parts[5] + "\"> \
                                <label for=\"soa_minimumttl\">Minimum TTL</label> \
                                <input type=\"text\" class=\"form-control\" name=\"soa_minimumttl\" id=\"soa_minimumttl\" value=\"" + parts[6] + "\"> \
                ";
            }
            modal.find('.modal-body p').html(form);
            modal.find('#button_save').click(function() {
                soa_primaryns = modal.find('#soa_primaryns').val();
                soa_adminemail = modal.find('#soa_adminemail').val();
                soa_serial = modal.find('#soa_serial').val();
                soa_zonerefresh = modal.find('#soa_zonerefresh').val();
                soa_failedzonerefresh = modal.find('#soa_failedzonerefresh').val();
                soa_zoneexpiry = modal.find('#soa_zoneexpiry').val();
                soa_minimumttl = modal.find('#soa_minimumttl').val();

                data = soa_primaryns + " " + soa_adminemail + " " + soa_serial + " " + soa_zonerefresh + " " + soa_failedzonerefresh + " " + soa_zoneexpiry + " " + soa_minimumttl;
                record_data.val(data);
                modal.modal('hide');
            })
            modal.modal('show');
        } else if (record_type == "TLSA") {
            var modal = $("#modal_custom_record");
            if (record_data.val() == "") {
                var form = "    <label for=\"tlsa_certificate_usage\">TLSA Certificate Usage</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_certificate_usage\" id=\"tlsa_certificate_usage\" placeholder=\"3\"> \
                                <label for=\"tlsa_selector\">TLSA-Selector</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_selector\" id=\"tlsa_selector\" placeholder=\"1\"> \
                                <label for=\"tlsa_matching\"> TLSA Matching Type</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_matching\" id=\"tlsa_matching\" placeholder=\"1\"> \
                                <label for=\"tlsa_hash\">Hash</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_hash\" id=\"tlsa_hash\" placeholder=\"HASH\"> \
                ";
            } else {
                var parts = record_data.val().split(" ");
                var form = "    <label for=\"tlsa_certificate_usage\">TLSA Certificate Usage</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_certificate_usage\" id=\"tlsa_certificate_usage\" value=\"" + parts[0] + "\"> \
                                <label for=\"tlsa_selector\">TLSA-Selector</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_selector\" id=\"tlsa_selector\" value=\"" + parts[1] + "\"> \
                                <label for=\"tlsa_matching\"> TLSA Matching Type</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_matching\" id=\"tlsa_matching\" value=\"" + parts[2] + "\"> \
                                <label for=\"tlsa_hash\">Hash</label> \
                                <input type=\"text\" class=\"form-control\" name=\"tlsa_hash\" id=\"tlsa_hash\" value=\"" + parts[3] + "\"> \
                ";
            }
            modal.find('.modal-body p').html(form);
            modal.find('#button_save').click(function() {
                tlsa_certificate_usage = modal.find('#tlsa_certificate_usage').val();
                tlsa_selector = modal.find('#tlsa_selector').val();
                tlsa_matching = modal.find('#tlsa_matching').val();
                tlsa_hash = modal.find('#tlsa_hash').val();

                data = tlsa_certificate_usage + " " + tlsa_selector + " " + tlsa_matching + " " + tlsa_hash;
                record_data.val(data);
                modal.modal('hide');
            })
            modal.modal('show');
        } else if (record_type == "TXT") {
            var txt_data = record_data.val().replace(/"/g, '&quot;');
            var modal = $("#modal_custom_record");
            var form = "    <label for=\"txt_record\">TXT Record Data</label> \
                            <textarea style=\"min-width: 100%;color: #333;\" placeholder=\"Your TXT record data\" rows=\"5\" id=\"txt_record\" name=\"txt_record\">" + txt_data + "</textarea> \
                                   ";
                        modal.find('.modal-body p').html(form);
                        modal.find('#button_save').click(function() {
                            data = modal.find('#txt_record').val().replace(/"/g, '');
                            if ( data.length > 254) {
                            // split the data into 2 parts for DKIM 2048
                                var data1 = data.substring(0, 254);
                                var data2 = data.substring(254);
                                
                                if (! /^".*"$/.test(data1)) {
                                    data1 = '"' + data1 + '"';
                                }
                                if (! /^".*"$/.test(data2)) {
                                    data2 = '"' + data2 + '"';
                                }
                                data = data1 + " " + data2;
                            } else if (! /^".*"$/.test(data)) {
                                data = '"' + data + '"';
                            }
                            record_data.val(data);
                            modal.modal('hide');
                        });
                        modal.modal('show');
            } else if (record_type == "LUA") {
                var lua_type = record_data.val().split(" ")[0];
                var lua_data = record_data.val().substr(record_data.val().indexOf(" ") + 1).replace(/"/g, '&quot;');
                var modal = $("#modal_custom_record");
                var form = `<label for="lua_type">Lua Record Type</label> 
                            <input type="text"
                                    class="form-control"
                                    name="lua_type"
                                    id="lua_type"
                                    placeholder="Initial query type. Example: A, CNAME or PTR "
                                    value="' + lua_type + '"> 
                            <label for="lua_record">Lua Record Data</label> 
                            <textarea style="min-width: 100%;
                                                color: #333;"
                                        placeholder="Your LUA snippet"
                                        rows="5"
                                        id="lua_record"
                                        name="lua_record">' + lua_data + '</textarea>`;
                modal.find('.modal-body p').html(form);
                modal.find('#button_save').click(function() {
                    type = modal.find('#lua_type').val();
                    data = modal.find('#lua_record').val();
                    if (! /^".*"$/.test(data)) {
                        data = '"' + data + '"';
                    }
                    data = type + ' ' + data;
                    record_data.val(data);
                    modal.modal('hide');
                });
                modal.modal('show');
            } else if (record_type == "URL") {
                var url_data = record_data.val().replace(/"/g, '&quot;');
                var modal = $("#modal_custom_record");
                var form = `
                <div class="alert alert-warning" role="alert">
                    Adding a URL record will replace or delete all A records with same zone and name.
                </div>
                <div class="form-floating">
                    <textarea class="form-control" style="min-width: 100%;
                                        color: #333;"
                                placeholder="Your URL redirect target"
                                rows="2"
                                id="url_record"
                                name="url_record">` + url_data + `</textarea> 
                    <label for="url_record">URL redirect Data</label> 
                </div>`;
            modal.find('.modal-body p').html(form);
            modal.find('#button_save').click(function() {
                data = modal.find('#url_record').val();
                //if (! /^".*"$/.test(data)) {
                //    data = '"' + data + '"';
                //}
                record_data.val(data);
                modal.modal('hide');
            });
            modal.modal('show');
        }
        });
        {% endif %}
</script>
{% endblock extrascripts %}
{% block modals %}
    <div class="modal fade modal-warning" id="modal_delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Confirmation
                    </h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-flat btn-default pull-left"
                            id="button_delete_cancel"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button"
                            class="btn btn-flat btn-danger"
                            id="button_delete_confirm">
                        Delete
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade modal-primary" id="modal_apply_changes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Confirmation
                    </h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-flat btn-default pull-left"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button"
                            class="btn btn-flat btn-primary"
                            id="button_apply_confirm">
                        Apply
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" data-bs-backdrop="static" id="modal_custom_record">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Custom Record
                    </h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-primary" id="button_save">
                        Save
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if current_user.role.name in ['Administrator', 'Operator'] %}
        <div id="DomainInfoModal"
             class="modal fade"
             tabindex="-1"
             aria-labelledby="DomainInfoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            Thông tin khách hàng
                        </h3>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <form id="domain_info_form" role="form"
                                  method="post"
                                  action="{{ url_for('domain.domain', domain_name=domain.name) }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <div class="input-group mb-2">
                                    <label for="custommer_name" class="col-sm-3 input-group-text">
                                        Full Name
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="form-control"
                                               id="cus_name"
                                               name="cus_name"
                                               value="{{ domain_info.cus_name }}">
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <label for="custommer_email" class="col-sm-3 input-group-text">
                                        Email Address
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="email"
                                               class="form-control"
                                               id="cus_email"
                                               name="cus_email"
                                               value="{{ domain_info.cus_email }}">
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <label for="cus_phone" class="col-sm-3 input-group-text">
                                        Phone Number
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="tel"
                                               class="form-control"
                                               id="cus_phone"
                                               name="cus_phone"
                                               value="{{ domain_info.cus_phone }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary" form="domain_info_form">
                            Save Change
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock modals %}
