{% extends "base.html" %}
{% block title %}<title>My Profile - {{ SITE_NAME }}</title>{% endblock title %}
{% block dashboard_stat %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Profile
        <small>Edit my profile</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">My Profile</li>
    </ol>
</section>
{% endblock dashboard_stat %}
{% block content %}
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card box-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">Edit my profile{% if session['authentication_type'] != 'LOCAL' %} [Disabled -
                        Authenticated externally]{% endif %}</h3>
                </div>
                <div class="card-body">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom" id="tabs">
                        <ul class="nav nav-pills nav-tabs">
                            <li class="nav-item"><a class="nav-link active" href="#tabs-personal" data-toggle="tab">Personal
                                    Info</a></li>
                            {% if session['authentication_type'] == 'LOCAL' %}
                            <li class="nav-item"><a class="nav-link" href="#tabs-password" data-toggle="tab">Change Password</a></li>
                            {% endif %}
                            {% if session['authentication_type'] in ['LOCAL', 'LDAP'] %}
                            <li class="nav-item"><a class="nav-link" href="#tabs-authentication" data-toggle="tab">Authentication</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-personal">
                                <form role="form" method="post" action="{{ user_profile }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <div class="input-group mb-2">
                                        <label class="input-group-text" for="firstname">First Name</label> <input type="text"
                                            class="form-control" name="firstname" id="firstname"
                                            placeholder="{{ current_user.firstname }}"
                                            {% if session['authentication_type'] != 'LOCAL' %}disabled{% endif %}>
                                    </div>
                                    <div class="input-group mb-2">
                                        <label class="input-group-text" for="lastname">Last Name</label> <input type="text" class="form-control"
                                            name="lastname" id="lastname" placeholder="{{ current_user.lastname }}"
                                            {% if session['authentication_type'] != 'LOCAL' %}disabled{% endif %}>
                                    </div>
                                    <div class="input-group mb-2">
                                        <label class="input-group-text" for="email">E-mail</label> <input type="email" class="form-control"
                                            name="email" id="email" placeholder="{{ current_user.email }}"
                                            {% if session['authentication_type'] != 'LOCAL' %}disabled{% endif %}>
                                    </div>{% if session['authentication_type'] == 'LOCAL' %}
                                    <div class="input-group mb-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>{% endif %}
                                </form>
                            </div>
                            {% if session['authentication_type'] == 'LOCAL' %}
                            <div class="tab-pane" id="tabs-password">
                                {% if not current_user.password %}
                                Your account password is managed via LDAP which isn't supported to change here.
                                {% else %}
                                <form action="{{ user_profile }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <div class="input-group mb-2">
                                        <label class="input-group-text" for="password">New Password</label> <input type="password"
                                            class="form-control" name="password" id="newpassword" />
                                    </div>
                                    <div class="input-group mb-2">
                                        <label class="input-group-text" for="rpassword">Re-type New Password</label> <input type="password"
                                            class="form-control" name="rpassword" id="rpassword" />
                                    </div>
                                    <div class="input-group mb-2">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            {% endif %}
                            <!-- {% if session['authentication_type'] in ['LOCAL', 'LDAP'] %} -->
                            <div class="tab-pane" id="tabs-authentication">
                                <form action="{{ user_profile }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <div class="input-group mb-2">
                                        <div class="form-check">
                                            <input type="checkbox" id="otp_toggle" class="otp_toggle form-check-input"
                                                {% if current_user.otp_secret %}checked{% endif %}>
                                            <label class="form-check-label" for="otp_toggle">Enable Two Factor Authentication</label>
                                        </div>
                                    </div>
                                        {% if current_user.otp_secret %}
                                        <div id="token_information">
                                            <div class="col-md-5">
                                            <p><img id="qrcode" src="{{ url_for('user.qrcode') }}" alt="User QR code"></p>
                                            </div>
                                            <div class="col-md-7" style="position: relative; left: 15px">
                                                
                                    <div class="input-group mb-2">
                                                <span class="input-group-text" id="addon-wrapping">Your secret key is:</span>
                                                <form>
                                                    <input class="form-control" type=text id="otp_secret" value="{{ current_user.otp_secret }}" readonly>
                                                    <button class="input-group-text" type=button style="position:relative; right:28px" onclick="copy_otp_secret_to_clipboard()"> <i class="fa fa-clipboard"></i> </button>
                                                    <br /><font color="red" id="copy_tooltip" style="visibility:collapse">Copied.</font>
                                                </form>
                                                </div>
                                            </div>
                                            You can use Google Authenticator (<a target="_blank"
                                                href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a>
                                            - <a target="_blank"
                                                href="https://apps.apple.com/us/app/google-authenticator/id388497605">iOS</a>)
                                            or FreeOTP (<a target="_blank"
                                                href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp&hl=en">Android</a>
                                            - <a target="_blank"
                                                href="https://itunes.apple.com/en/app/freeotp-authenticator/id872559395?mt=8">iOS</a>)
                                            on your smartphone to scan the QR code.
                                            <br />
                                            <font color="red"><strong><i>Make sure only you can see this QR Code and secret key and
                                                        nobody can capture them.</i></strong></font>
                                        </div>
                                        {% endif %}
                                </form>
                            </div>
                            <!-- {% endif %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extrascripts %}
<!-- TODO: add password and password confirmation comparison check -->
<script>
    //$(function () {
    //    $('#tabs').tabs({
    //        // add url anchor tags
    //        activate: function (event, ui) {
    //            window.location.hash = ui.newPanel.attr('id');
    //        }
    //    });
    //    // re-set active tab (ui)
    //    var activeTabIdx = $('#tabs').tabs('option', 'active');
    //    $('#tabs li:eq(' + activeTabIdx + ')').tab('show')
    //});

    // handle checkbox toggling
    $('.otp_toggle').change(function() {
        var enable_otp = $(this).prop('checked');
        var postdata = {
            'action': 'enable_otp',
            'data': {
                'enable_otp': enable_otp
            },
            '_csrf_token': '{{ csrf_token() }}'
        };
        applyChanges(postdata, $SCRIPT_ROOT + '/user/profile', false, true);
    });
</script>
{% endblock extrascripts %}
